/*This stylesheet is to add a bit of custom CSS*/

body {
	background-color:  #ffcccc;
	align-content: center;

}

h1 {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align:center;
}

p {
	margin-left:  10%;
	margin-right: 10%;
	align-content: justify;
}
.center {
	text-align: center;
	align-content: center;
}
input {
	align-content: center;
}