/*This stylesheet is to add a bit of custom CSS*/

body {
	background-color:  #ffcccc;
	align-content: center;

}

h1 {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left:  10%;
	margin-right: 10%;	align-content:center;
}
p {
	margin-left:  10%;
	margin-right: 10%;
	align-content: justify;
}
